body {
    background-color: bisque;
}

*{
    border: 1px solid black;
}

section {
    display:inline-block;
    width: 30%;
    height: 300px;
    background: burlywood;
    }

header{
    background-color: burlywood;
}

header h2 {
    padding: 5px;
}

nav img {
    float: left;
    padding: 5px;
}

nav button {
    text-align: center;
    float:right;
    background-color: bisque;
    padding: 4px;
}

main {
    padding: 50px;
}

footer {
    background: burlywood;
    text-align: center;
}